*{margin:0%;
padding: 0%;
outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador{
    background-color: rgba(255, 255, 255, 0.158);
    width: 250px;
    height: 250px;
   color: white;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid grey;
}
 h1{
    margin-bottom: 20px;
 }
 button{
    padding: 10px;
    
 }
 span{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
 }